[[source]]
name = "geodan"
url = "https://repo.geodan.io/repository/python/simple"
verify_ssl = true

[dev-packages]
mypy = "*"

[packages]
dstlib = "*"
PyYAML = "*"

[requires]
python_version = "3.7"




